doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml', data-dnd='true')
  head
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css', integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/', crossorigin='anonymous')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    style(type='text/css').
      body {
      color: #000000;
      }
      body a {
      color: #1188e6;
      text-decoration: none;
      }
      p {
      margin: 0;
      padding: 0;
      }
      table[class="wrapper"] {
      width: 100% !important;
      table-layout: fixed;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      }
      img[class="max-width"] {
      max-width: 100% !important;
      }
      @media screen and (max-width:480px) {
      .preheader .rightColumnContent,
      .footer .rightColumnContent {
      text-align: left !important;
      }
      .preheader .rightColumnContent div,
      .preheader .rightColumnContent span,
      .footer .rightColumnContent div,
      .footer .rightColumnContent span {
      text-align: left !important;
      }
      .preheader .rightColumnContent,
      .preheader .leftColumnContent {
      font-size: 80% !important;
      padding: 5px 0;
      }
      table[class="wrapper-mobile"] {
      width: 100% !important;
      table-layout: fixed;
      }
      img[class="max-width"] {
      height: auto !important;
      }
      a[class="bulletproof-button"] {
      display: block !important;
      width: auto !important;
      font-size: 80%;
      padding-left: 0 !important;
      padding-right: 0 !important;
      }
      // 2 columns
      #templateColumns {
      width: 100% !important;
      }
      .templateColumnContainer {
      display: block !important;
      width: 100% !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      }
      }
    style.
      body,
      p,
      div {
      font-family: arial, sans-serif;
      }
  body(yahoofix='true', style='min-width: 100%; margin: 0; padding: 0; font-size: 14pxpx; font-family: arial,sans-serif; color: #000000; background-color: #FFFFFF; color: #000000;', data-attributes='%7B%22dropped%22%3Atrue%2C%22bodybackground%22%3A%22%23FFFFFF%22%2C%22bodyfontname%22%3A%22arial%2Csans-serif%22%2C%22bodytextcolor%22%3A%22%23000000%22%2C%22bodylinkcolor%22%3A%22%231188e6%22%2C%22bodyfontsize%22%3A%2214px%22%7D')
    center.wrapper
      .webkit
        table(width='100%', cellpadding='0', cellspacing='0', border='0', style='width: 100%; max-width:600px;')
          tbody
            tr
              td(role='modules-container', style='padding: 0px 0px 0px 0px; color: #000000; text-align: left;', bgcolor='#FFFFFF', width='100%', align='left')
                table.module(role='module', data-type='text', border='0', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed;', data-attributes='%7B%22dropped%22%3Atrue%2C%22child%22%3Afalse%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22containerbackground%22%3A%22%23ffffff%22%7D')
                  tbody
                    tr
                      td(role='module-content', valign='top', height='100%', style='padding: 0px 0px 0px 0px;', bgcolor='#ffffff')
                        table.wrapper(role='module', data-type='image', border='0', align='center', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed;')
                          tbody
                            tr
                              td(style='font-size:6px;line-height:10px;background-color:#ffffff;padding: 0px 0px 0px 0px;', valign='top', align='center', role='module-content')
                                img.max-width(width='150', height='', src='https://admission.sdbi.in/uiserver/front_assets/img/logo.jpg', alt='', border='0', style='display: block; color: #000; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px;  max-width: 350px !important; width: 100% !important; height: auto !important; ;')
                            tr
                              td
                                h1(style='color: rgb(0, 0, 0); font-family: arial, sans-serif; font-variant-ligatures: normal; font-variant-caps: normal; text-align: center; background-color: rgb(255, 255, 255); font-size: 22px; margin-bottom: 15px;') School of Data Science and Business Intelligence (SDBI)

      table.module(role='module', data-type='text', border='0', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed;', data-attributes='%7B%22dropped%22%3Atrue%2C%22child%22%3Afalse%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22containerbackground%22%3A%22%23ffffff%22%7D')
        tbody
          tr
            td(role='module-content', valign='top', height='100%', style='padding: 0px 0px 0px 0px;', bgcolor='#ffffff')
              p(style='color: rgb(0, 0, 0); font-family: arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; background-color: rgb(255, 255, 255); margin-bottom: 5px; font-size: 15px;') Dear Admin,

           
       table.module(role='module', data-type='text', border='0', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed;', data-attributes='%7B%22dropped%22%3Atrue%2C%22child%22%3Afalse%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22containerbackground%22%3A%22%23ffffff%22%7D')   
                    thead 
                    tr
                           th TeacherName 
                           th Subject 
                           th SpentTime(hr)
                           th Remaining                               
                    tbody
                    br
                    each tech in data
                       tr
                           td(style='text-align:center;') #{tech.teacherName} 
                           td(style='text-align:center;') #{tech.subject} 
                           td(style='text-align:center;') #{tech.hours} 
                           td(style='text-align:center;') #{tech.remaining}  
                    br   
      table.module(role='module', data-type='text', border='0', cellpadding='0', cellspacing='0', width='100%', style='table-layout: fixed;', data-attributes='%7B%22dropped%22%3Atrue%2C%22child%22%3Afalse%2C%22padding%22%3A%220%2C0%2C0%2C0%22%2C%22containerbackground%22%3A%22%23ffffff%22%7D')
          tbody
            tr
              td(role='module-content', valign='top', height='100%', style='padding: 0px 0px 0px 0px;', bgcolor='#ffffff')
                h3(style='color: rgb(0, 0, 0); font-family: arial, sans-serif; font-variant-ligatures: normal; font-variant-caps: normal; text-align: center; font-size: 18px; padding-top: 30px; border-top: 1px solid rgb(226, 226, 226);') CONTACT US
                p(style='font-family: arial, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; text-align: center; padding-bottom: 30px; color: rgb(103, 103, 103); font-size: 15px;')
                  span(style='font-size:14px;')
                    span(style='font-family:arial,helvetica,sans-serif;')
                      | You can email us at 
                      a(href='mailto:info@sdbi.in')
                        span(style='color: rgb(85, 85, 85); font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; white-space: nowrap; background-color: rgb(255, 255, 255);') info@sdbi.in
      table(width='100%', border='0', cellspacing='0', cellpadding='0')
        tbody
          tr
            td
              table(width='100%', cellpadding='0', cellspacing='0', border='0', bgcolor='#8B008B')
                tbody
                  tr
                    td.one-column(height='40', align='center', bgcolor='#8B008B')  
                  tr
                    td.one-column(align='center', bgcolor='#8B008B', style='padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;')
                      table(width='150', border='0', cellspacing='0', cellpadding='0')
                        tbody
                          tr
                            td(width='33', align='center')
                              a(href='https://www.facebook.com/sdbi.official/', target='_blank')
                                img(src='https://gallery.mailchimp.com/fdcaf86ecc5056741eb5cbc18/images/237854a9-0a06-4f88-a9b8-c36e57e31083.png', alt='facebook', width='32', height='32', border='0')
                            td(width='34', align='center')
                              a(href='https://www.instagram.com/sdbi.official/', target='_blank')
                                img(src='https://admission.sdbi.in/uiserver/upload/profile_pic/logo-instagram.png', alt='instagram', width='32', height='32', border='0')
                            td(width='33', align='center')
                              a(href='https://www.linkedin.com/company/sdbiofficial', target='_blank')
                                img(src='https://gallery.mailchimp.com/fdcaf86ecc5056741eb5cbc18/images/17c02388-c25e-4eb5-a7cc-8f34458a50ad.png', alt='linkedin', width='32', height='32', border='0')
                  tr
                    td.one-column(align='center', bgcolor='#8B008B', style='padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;')  
                  tr
                    td(role='module-content', valign='top', height='100%', style='padding: 0px 0px 0px 0px;', bgcolor='#8b008b')
                      div(style='font-size:12px;line-height:150%;margin:0;text-align:center;') This email was sent by: School of data science and business intelligence, India.
                      //div(style='font-size:12px;line-height:150%;margin:0;text-align:center;')
                        span(style='color: rgb(0, 0, 0); font-family: arial, sans-serif; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; text-align: center; background-color: rgb(139,0,139);') Internationalisation in Partnership with 
                        //a(data-saferedirecturl='https://www.google.com/url?hl=en-GB&q=http://93.104.211.51/&source=gmail&ust=1496402378618000&usg=AFQjCNFINe-CPIU5_GgF_4mF3mn3dtxwZQ', href='http://93.104.211.51/', style='color: rgb(255,255,255); font-family: arial, sans-serif; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; text-align: center; background-color: rgb(139,0,139);', target='_blank') mu.
                        a(data-saferedirecturl='https://www.google.com/url?hl=en-GB&q=https://admissiondesk.org/&source=gmail&ust=1496402378618000&usg=AFQjCNH1SOKmbuph1aPEIyAT6KrA4K6yzQ', href='https://admissiondesk.org/', style='color: rgb(255,255,255); font-family: arial, sans-serif; font-size: 12px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; text-align: center; background-color: rgb(139,0,139);', target='_blank') Admissiondesk.org
                  tr
                    td.one-column(align='center', bgcolor='#8B008B', style='padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;')  
                  //tr
                    td.one-column(align='center', bgcolor='#8B008B', style='padding-top:0;padding-bottom:0;padding-right:10px;padding-left:10px;')
                      font(style='font-size:13px; text-decoration:none; color:#ffffff; font-family: Verdana, Geneva, sans-serif; text-align:center')
                        | All rights reserved. 
                        a(href='https://u3753514.ct.sendgrid.net/wf/unsubscribe?upn=Vg34DdhHAESjaprnZjELVuCRXUM-2FrlDXnaiPT1vJHz8SmbpzqqnzfXv29sRUrwPekHv86ZfFe4W5yOT-2F0zaeHJoUu1YdMmvl9i3B0Mxn60nHizDGXQug8ysDnLjstvSVpM2-2BOrklDcVrMiD8jyzH36R2wCPVFD12gmUM8BFcjATs15i8jChfuhEjarT6p0btWLBP9cR9hBPk6BtzfuoaX8yhHxJUrb6V6D9H2azMd04-3D', target='_blank', style='color:#ffffff; text-decoration:underline') Unsubscribe from list.
                  tr
                    td.one-column(align='center', bgcolor='#8B008B', style='padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;')  
                  tr
                    td.contents1(height='6', bgcolor='#8B008B', style='width:100%; border-bottom-left-radius:10px; border-bottom-right-radius:10px')